/* Code in text */
p > code,
li > code,
dd > code,
td > code {
    background: #d3d3d3; /* $lightgrey;*/
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 93%;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .1rem .3rem;
    /* padding top right bottom left*/
    border-radius: .3rem;
    /* b-radius top-left t-right bottom-right b-left*/
}
